server {
    listen {{YOUR_CLIENT_PORT}};
    server_name {{YOUR_NGROK_STATIC_DOMAIN}};

    location / {
        root /usr/share/nginx/html;
        index index.html index.htm;
        try_files $uri $uri/ /index.html;
    }
}