@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --bg-main: #f7fcfa;
  --bg-second: #e5f5ed;
  --text-green-light: #08872b;
  --text-red: #e82908;
  --text-primary: #0d1c14;
  --text-secondary: #479e78;
  --border: #2e6b4f;
}

@layer base {
  [data-theme="dark"] {
    --bg-main: #0f241c;
    --bg-second: #214a38;
    --text-green-light: #0ad945;
    --text-red: #fa5438;
    --text-primary: #ffffff;
    --text-secondary: #8fccb2;
    --border: #2e6b4f;
  }

  body {
    background-color: var(--bg);
    color: var(--text-primary);
    font-family: "Exo 2", sans-serif;
    margin: 0;
    padding: 0;
  }
}

@layer components {
  /* .glass-bg-effect { */
  /*   background: rgba(255, 255, 255, 0.1); */
  /*   border-radius: 16px; */
  /*   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  /*   backdrop-filter: blur(10px); */
  /*   -webkit-backdrop-filter: blur(10px); */
  /* } */
}

@layer utilities {
  .bg-primary {
    background: var(--bg-main);
  }
  .bg-secondary {
    background-color: var(--bg-second);
  }
  .text-primary {
    color: var(--text-primary);
  }
  .text-secondary {
    color: var(--text-secondary);
  }
  .border-color {
    border-color: var(--border);
  }
  .text-green-light {
    color: var(--text-green-light);
  }
  .text-red {
    color: var(--text-red);
  }
}
