html {
	background-color: rgb(var(--background-primary));
}


p, h1, h2, h3, h4, h5, h6, div, span {
	color: rgb(var(--accent));
	padding: 0;
	margin: 0;
}

h1 {
	font-weight: 600;
}

svg {
	fill: rgb(var(--accent))
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	
	border-radius: 10px;

	width: 200px;
	height: 50px;
}
