# Version of the ngrok Agent Configuration file. Required.
version: 3

endpoints:
  - name: bot
    url: YOUR_DOMAIN # your static domain from ngrok dashboard
    upstream:
      url: http://bot:1499  # or your TG_BOT_PORT. Example (http://bot:5453)
