.home-bg {
  background:
    radial-gradient(
      100% 100% at var(--g3-3-x-position) var(--g3-3-y-position),
      var(--brand-red) -80%,
      transparent
    ),
    radial-gradient(
      100% 100% at var(--g3-1-x-position) var(--g3-1-y-position),
      var(--brand-green) -71%,
      transparent
    ),
    radial-gradient(
      100% 100% at var(--g3-2-x-position) var(--g3-2-y-position),
      var(--bg) -12%,
      transparent
    );
  animation-name: g-3;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  transition-timing-function: ease-in;
}

@property --g3-1-x-position {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 16.09375%;
}

@property --g3-1-y-position {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 33.12500000000001%;
}

@property --g3-2-x-position {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 48.55468750000001%;
}

@property --g3-2-y-position {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 9.648437500000002%;
}

@property --g3-3-x-position {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 78.6328125%;
}

@property --g3-3-y-position {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 79.8046875%;
}

:root {
  --g3-1-x-position: 16.09375% --g3-1-y-position: 33.12500000000001%
    --g3-2-x-position: 48.55468750000001% --g3-2-y-position: 9.648437500000002%
    --g3-3-x-position: 78.6328125% --g3-3-y-position: 79.8046875%;
}

@keyframes g-3 {
  50% {
    --g3-1-x-position: 42.69531250000001%;
    --g3-1-y-position: 91.5625%;
    --g3-2-x-position: 91.7578125%;
    --g3-2-y-position: 33.046875%;
    --g3-3-x-position: 5.742187500000001%;
    --g3-3-y-position: 5.546875000000001%;
  }
}
