.sidebar {
	display: flex;
	position: fixed;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;

	height: 97vh;
	width: 80px;
	margin: 15px;

	background-color: rgb(var(--background-second));
	border-radius: 10px;
	transition: all 0.2s ease-in-out;
	text-transform: capitalize;
	text-decoration: none;
}
.sidebar:hover {
	width: 230px;
}

.sidebar_logo {
	margin-left: 15px;
	margin-top: 10px;
	height: 50px;
	display: flex;
	overflow: hidden;
	gap: 20px;
}

.sidebar_options {
	padding-left: 24px;
}

.sidebar_footer {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.theme_toogler {
	margin-left: 5px;
	padding-left: 15px;
	width: 70%;
}
.sidebar_toogler__icon {
	width: 35px;
	height: 35px;
}
.sidebar_toogler__text {
	text-align: center;
}

.sidebar_login {
	display: flex;
	white-space: nowrap;
	justify-content: space-between;
	overflow: hidden;
	margin: 5px;
	padding: 10px;
	background-color: rgb(var(--background-btn));
	border-radius: 10px;
}

.sidebar_option,
.theme_toogler {
	height: 60px;
	display: flex;
	align-items: center;
	gap: 20px;

	white-space: nowrap;
	overflow: hidden;
}

.sidebar_title,
.sidebar_option__text,
.sidebar_toogler__text {
	width: 1px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.2s ease-in-out;
}
.sidebar:hover .sidebar_title,
.sidebar:hover .sidebar_option__text,
.sidebar:hover .sidebar_toogler__text {
	width: auto;
	visibility: visible;
	opacity: 1;
}
.sidebar:hover .sidebar_option {
	width: auto;
}

.sidebar:hover .theme_toogler,
.sidebar:hover .sidebar_login {
	width: 200px;
}